.producto{
    display: grid;
    grid-template-columns: 30% 70%;
}
.fotosp{
    display: flex;
   justify-content: center;

    margin: 25px 0 0 25px;
}
.foto{
   height: 200px;
   width: auto;
}
.foto:hover {
    .foto2{
    height: 200px;
    width: auto;
    opacity: 1;
    }
 }
.foto2{
    position: relative;
    margin: 100px 50px;
    width: 300px;
    height: auto;
    border: black solid;
    opacity: 0
}